*.iml
.gradle
/local.properties
/.idea/artifacts
/.idea/caches
/.idea/libraries
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/markdown.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/androidTestResultsUserPreferences.xml
/.kotlin/sessions
.DS_Store
/build
/build-logic/.gradle
/build-logic/convention/build
/captures
.externalNativeBuild
.cxx
local.properties
